
.tittle-page {
    font-size: 1.80rem;
    color: #fff;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #003366;
    margin: 0rem;
}

.bg-color {
    background-color: #F05555;
}

.nav-link {
    color: #fff;
}

.nav-link .active {
    transition: none;
}

.btn-outline-success {
    color: #fff;
}

.main-index {
    background-color: #003366;
    margin: 0rem;
}

.body-contact {
    background-color: #003366; 
}

.bg-form {
    padding: 1.875rem 2rem;
    background-color: #fff;
    width: 55%;
    height: 60%;
    margin: 2rem 2rem 5rem;
}

footer {
    padding: 4rem;
    background-color: #F05555;
    margin: 0rem;
}