
.tittle-page {
    font-size: 1.80rem;
    color: #fff;
    padding: 1rem 2rem;
    font-family: 'Montserrat', sans-serif;
    background-color: #003366;
    margin: 0rem;
}

.bg-color {
    background-color: #F05555;
}

.nav-link {
    color: #fff;
}

.nav-link .active {
    transition: none;
}

.btn-outline-success {
    color: #fff;
}

.body-index {
    background-color: #003366;
    margin: 0rem;
}

.body-contact {
    background-color: #003366; 
}

.bg-form {
    padding: 1.875rem 0.20rem;
    margin: 0.300rem 0rem 3.125rem;
    background-color: #fff;
    width: 75%;
}

.row {
    margin: 0rem;
    width: 70%;
}

footer {
    padding: 4rem;
    background-color: #F05555;
}